*{
  background-color: black;
}

.view{
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  display: flex;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap; 
  gap: 0.5rem;
}
.title{
 color: white;
 font-size: 50px;
 font-family: "Space Grotesk", sans-serif;
}
.cat{
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
}
.search{
  margin-top: 4px;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.searchitem{
  margin-right: 8px;
}
.search input{
  background-color: white; 
}
.search button{
  background-color: white;
}
.search button:hover{
  background-color: rgb(204, 63, 127);
  cursor: pointer;
}
.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(129, 121, 121);
  padding: 20px;
  text-align: center;
  max-width: 250px;
  margin-top: 50px;
  background-color: white;
  color: black;
}
#profile{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  border: 5px solid black;
}
#username{
  background-color: white;
}
.sub{
  background-color: white;
}
.gitlink a{
  display: block;
  background-color: white;
  color: black;
}